@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body{
    background-color: black;
}

header {
    top: 0; 
    left: 0; 
    position: fixed; 
    width: 100%; 
    height: 80px;
    transition: top 0.2s ease-in-out; 
    z-index: 100;
}
header #logo img {
    float:left;
    margin-left: 90px; 
    margin-top: 30px;
    height: 30px;
}
header ul {
    list-style: none; 
    float: right;
    margin-top: 30px;
    margin-right: 65px;
}
header ul li {
    font-family: 'Khula', sans-serif;
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    font-weight: 500; 
    padding-left: 20px; 
    padding-right: 25px; 
}
header ul li a {
    text-decoration: none; 
    color: white;
}
header ul li a:hover {
    text-decoration: none; 
    color: #43BD8E;
}
.clear {clear: both;}

.back {margin-top: 150px;margin-left: 95px;float: left;}
.back img {width: 50px;height: 10px; margin-right: 10px;}
.back a{text-decoration: none;color: #fff;}
.back p{color: #fff;cursor: pointer;font-family: 'Khula', sans-serif;font-size: 14px;}

.p_title {margin-top: 120px;float: left;margin-left: 130px;}
#p_num {font-family: 'Khula', sans-serif;font-size: 30px;color: #fff;font-weight: 700;margin-bottom: 30px;}
.p_title h1 {font-family: 'Khula', sans-serif;font-size: 90px;color: #fff;font-weight: 900;}

.p_contents {letter-spacing:0.5px;}

#info {margin-top: 50px;margin-left: 160px;}
#con_s_j {float: left;width: 165px;}
#con_s_j li{font-family: 'Khula', sans-serif;font-size: 20px;color: #fff;font-weight: 700;margin-bottom: 15px;line-height: 20px;}
#con_s_j li:last-child {margin-top: 50px;}

#con_d_j {float: left;}
#con_d_j li{font-family: 'Noto Sans KR', sans-serif;font-size: 19px;color: #fff;font-weight: 300;margin-bottom: 16px;line-height: 18px;}
#con_d_j li:last-child {margin-top: 50px;line-height: 30px;}

.view_btn{width: 150px;height: 40px;border: solid 2px white;text-align: center;margin-left: 330px;margin-top: 30px;border-radius:20px/20px;}
.view_btn a{text-decoration: none;color: white;font-family: 'Khula', sans-serif;font-size: 20px;font-weight: 500;line-height: 45px;}
.view_btn1{width: 200px;height: 40px;border: solid 2px white;text-align: center;margin-left: 30px;margin-top: 30px;border-radius:20px/20px;}
.view_btn1 a{text-decoration: none;color: white;font-family: 'Khula', sans-serif;font-size: 20px;font-weight: 500;line-height: 45px;}
.view .view_btn{float: left;}
.view .view_btn1{float: left;}

.p_image_j{width: 45%;top:300px;right: 90px;position: absolute;z-index: -5;}
.p_image_j img{width: 100%;}

.p_image_l{width: 45%;top:300px;right: 90px;position: absolute;z-index: -5;}
.p_image_l img{width: 100%;}

.p_image_le{width: 45%;top:300px;right: 90px;position: absolute;z-index: -5;}
.p_image_le img{width: 100%;}

.p_image_y{height:100vh;top:0;right: 0;position: absolute;z-index: -5;}
.p_image_y img{height: 100%;}

.p_image_m{height:90vh; top:10vh;right: 160px;position: absolute;z-index: -5;}
.p_image_m img{height: 100%;}

.p_image_d{width: 45%;top:300px;right: 90px;position: absolute;z-index: -5;}
.p_image_d img{width: 100%;}

.p_image_t{width: 45%;top:300px;right: 90px;position: absolute;z-index: -5;}
.p_image_t img{width: 100%;}

#con_s_l {float: left;width: 165px;}
#con_s_l li{font-family: 'Khula', sans-serif;font-size: 20px;color: #fff;font-weight: 700;margin-bottom: 15px;line-height: 20px;}
#con_s_l li:last-child {margin-top: 90px;}

#con_d_l {float: left;}
#con_d_l li{font-family: 'Noto Sans KR', sans-serif;font-size: 19px;color: #fff;font-weight: 300;margin-bottom: 16px;line-height: 18px;}
#con_d_l li:nth-child(5) {line-height: 30px;}
#con_d_l li:last-child {margin-top: 50px;line-height: 30px;}

#con_s_le {float: left;width: 165px;}
#con_s_le li{font-family: 'Khula', sans-serif;font-size: 20px;color: #fff;font-weight: 700;margin-bottom: 15px;line-height: 20px;}
#con_s_le li:last-child {margin-top: 50px;}

#con_d_le {float: left;}
#con_d_le li{font-family: 'Noto Sans KR', sans-serif;font-size: 19px;color: #fff;font-weight: 300;margin-bottom: 16px;line-height: 18px;}
#con_d_le li:nth-child(5) {line-height: 30px;}
#con_d_le li:last-child {margin-top: 50px;line-height: 30px;}

#con_s_y {float: left;width: 165px;}
#con_s_y li{font-family: 'Khula', sans-serif;font-size: 20px;color: #fff;font-weight: 700;margin-bottom: 15px;line-height: 20px;}
#con_s_y li:last-child {margin-top: 50px;}

#con_d_y {float: left;}
#con_d_y li{font-family: 'Noto Sans KR', sans-serif;font-size: 19px;color: #fff;font-weight: 300;margin-bottom: 16px;line-height: 18px;}
#con_d_y li:nth-child(5) {line-height: 30px;}
#con_d_y li:last-child {margin-top: 50px;line-height: 30px;}


#con_s_m {float: left;width: 165px;}
#con_s_m li{font-family: 'Khula', sans-serif;font-size: 20px;color: #fff;font-weight: 700;margin-bottom: 15px;line-height: 20px;}
#con_s_m li:last-child {margin-top: 90px;}

#con_d_m {float: left;}
#con_d_m li{font-family: 'Noto Sans KR', sans-serif;font-size: 19px;color: #fff;font-weight: 300;margin-bottom: 16px;line-height: 18px;}
#con_d_m li:nth-child(4) {line-height: 30px;}
#con_d_m li:last-child {margin-top: 50px;line-height: 30px;}
#con_s_d {float: left;width: 165px;}
#con_s_d li{font-family: 'Khula', sans-serif;font-size: 20px;color: #fff;font-weight: 700;margin-bottom: 15px;line-height: 20px;}
#con_s_d li:last-child {margin-top: 50px;}

#con_d_d {float: left;}
#con_d_d li{font-family: 'Noto Sans KR', sans-serif;font-size: 19px;color: #fff;font-weight: 300;margin-bottom: 16px;line-height: 18px;}
#con_d_d li:last-child {margin-top: 50px;line-height: 30px;}

#con_s_t {float: left;width: 165px;}
#con_s_t li{font-family: 'Khula', sans-serif;font-size: 20px;color: #fff;font-weight: 700;margin-bottom: 15px;line-height: 20px;}
#con_s_t li:last-child {margin-top: 50px;}

#con_d_t {float: left;}
#con_d_t li{font-family: 'Noto Sans KR', sans-serif;font-size: 19px;color: #fff;font-weight: 300;margin-bottom: 16px;line-height: 18px;}
#con_d_t li:last-child {margin-top: 50px;line-height: 30px;}