@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body{
    background-color: black;
    overflow: hidden;
}

header {
    top: 0; 
    left: 0; 
    position: fixed; 
    width: 100%; 
    height: 80px;
    transition: top 0.2s ease-in-out; 
    z-index: 100;
}
header #logo img {
    float:left;
    margin-left: 90px; 
    margin-top: 30px;
    height: 30px;
}
header ul {
    list-style: none; 
    float: right;
    margin-top: 30px;
    margin-right: 65px;
}
header ul li {
    font-family: 'Khula', sans-serif;
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    font-weight: 500; 
    padding-left: 20px; 
    padding-right: 25px; 
}
header ul li a {
    text-decoration: none; 
    color: white;
}
header ul li a:hover {
    text-decoration: none; 
    color: #43BD8E;
}
#main_txt {margin: auto;}
#ment{
    position: absolute; 
    top:40vh;
    margin-left: 200px;
    font-family: 'Khula', sans-serif;
    font-size: 100px; 
    font-weight: 700; 
    color: white;
}
.fadein_ment {
    animation: fadeinleft 1.5s;
}
@keyframes fadeinleft {
    from {
        opacity:0;
        margin-left:100px;   
    }
    to {
        opacity:1;
        margin-left:200px;   
    }
}
.fadein_line {
    animation: fadeinline 1.5s;
}
@keyframes fadeinline {
    from {
        opacity:0;
        width:0px;   
    }
    to {
        opacity:1;
        width:250px;   
    }
}
#line{
    width: 250px;
    height: 2px;
    background-color: white;
    position: absolute; 
    top:50vh;
    left: 50vw;
    margin-left: -100px;
}
#cont img{position: absolute; width: 350px;top:30vh;right: 200px;}
#cont p{
    align-items: baseline;
    margin-left: 50px;
    font-family: 'Khula', sans-serif;
    font-size: 100px; 
    font-weight: 700; 
    color: white;
}